In [3]:
import h3
from shapely import wkt
# import urbanity as urb
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon,Point

In [2]:
file_path1 = r'e:\work\spatio_evo_urbanvisenv_svi\sv\sv_normalization_kmeans_20.csv'
df1 = pd.read_csv(file_path1)
df1.head()

,OBJECTID_1,lng,lat,data,degree,sky,plant,building,road,beautiful,boring,depressing,lively,safety,wealthy,cluster
0,10000,91.034418,29.638511,201608,0,0.530283,0.000000,0.098843,0.633720,0.619445,0.507249,0.062276,0.996140,0.964733,0.532009,1
1,10000,91.034418,29.638511,201608,180,0.116461,0.000106,0.141364,0.525176,0.560076,0.263364,0.390571,0.995138,0.897178,0.610086,1
2,10000,91.034418,29.638511,201608,270,0.454458,0.001586,0.083704,0.567873,0.499536,0.458934,0.144668,0.988514,0.962822,0.542383,1
3,10000,91.034418,29.638511,201608,90,0.352806,0.000000,0.083109,0.587028,0.578800,0.445184,0.193289,0.991334,0.954227,0.498258,1
4,10000,91.034418,29.638511,202107,0,0.538046,0.000000,0.094599,0.605882,0.496118,0.694858,0.303019,0.996131,0.965381,0.721702,0

In [4]:
df1['geometry'] = df1.apply(lambda row: Point(row['lng'], row['lat']), axis=1)  
df1.head()

,OBJECTID_1,lng,lat,data,degree,sky,plant,building,road,beautiful,boring,depressing,lively,safety,wealthy,cluster,geometry
0,10000,91.034418,29.638511,201608,0,0.530283,0.000000,0.098843,0.633720,0.619445,0.507249,0.062276,0.996140,0.964733,0.532009,1,POINT (91.03441834 29.63851099)
1,10000,91.034418,29.638511,201608,180,0.116461,0.000106,0.141364,0.525176,0.560076,0.263364,0.390571,0.995138,0.897178,0.610086,1,POINT (91.03441834 29.63851099)
2,10000,91.034418,29.638511,201608,270,0.454458,0.001586,0.083704,0.567873,0.499536,0.458934,0.144668,0.988514,0.962822,0.542383,1,POINT (91.03441834 29.63851099)
3,10000,91.034418,29.638511,201608,90,0.352806,0.000000,0.083109,0.587028,0.578800,0.445184,0.193289,0.991334,0.954227,0.498258,1,POINT (91.03441834 29.63851099)
4,10000,91.034418,29.638511,202107,0,0.538046,0.000000,0.094599,0.605882,0.496118,0.694858,0.303019,0.996131,0.965381,0.721702,0,POINT (91.03441834 29.63851099)

In [7]:
geo_df1 = gpd.GeoDataFrame()
for i in df1.columns:
# for i in ['sky','plant','building','road','beautiful','boring','depressing','lively','safety','wealthy','geometry']:
    # print(i[0])
    geo_df1[i] = df1[i]
geo_df1.crs = "EPSG:4326"  
geo_df1.head()
# geo_df1.columns
geo_df1.head()

C:\Users\wang.tan.GOA\AppData\Local\Temp\ipykernel_186436\1911969648.py:5: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  geo_df1[i] = df1[i]

,OBJECTID_1,lng,lat,data,degree,sky,plant,building,road,beautiful,boring,depressing,lively,safety,wealthy,cluster,geometry
0,10000,91.034418,29.638511,201608,0,0.530283,0.000000,0.098843,0.633720,0.619445,0.507249,0.062276,0.996140,0.964733,0.532009,1,POINT (91.03442 29.63851)
1,10000,91.034418,29.638511,201608,180,0.116461,0.000106,0.141364,0.525176,0.560076,0.263364,0.390571,0.995138,0.897178,0.610086,1,POINT (91.03442 29.63851)
2,10000,91.034418,29.638511,201608,270,0.454458,0.001586,0.083704,0.567873,0.499536,0.458934,0.144668,0.988514,0.962822,0.542383,1,POINT (91.03442 29.63851)
3,10000,91.034418,29.638511,201608,90,0.352806,0.000000,0.083109,0.587028,0.578800,0.445184,0.193289,0.991334,0.954227,0.498258,1,POINT (91.03442 29.63851)
4,10000,91.034418,29.638511,202107,0,0.538046,0.000000,0.094599,0.605882,0.496118,0.694858,0.303019,0.996131,0.965381,0.721702,0,POINT (91.03442 29.63851)

In [9]:
output_filepath = r'e:\work\spatio_evo_urbanvisenv_svi\范围线\point_ten_indic_kmeans.shp'
geo_df1.to_file(output_filepath)